body {
	background-image: url(pic-1.png);
	background-repeat: repeat-x;
	background-color: #0f0;
	background-position: 20% 0;
}
.first {
	background-image: url(pic-2.png);
	background-repeat: repeat-x;
	background-color: transparent;
	background-position: 40% 0;
}
.second {
	background-image: url(pic-3.png);
	background-repeat: repeat-x;
	background-color: transparent;
	background-position: 150% 0;
}